*{
    margin:0px;
    padding: 0px;
}
/*Definiciones de selectores*/
body{
    background-color: white;
    color: #222;
    font: 200 14px 'Poppins', sans-serif;
}
nav{
    background-color: #222;
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
    border-bottom: 5px solid yellow;
}
nav ul{
    display: inline-block;
}
nav ul li{
    padding-top: 20px;

    text-align: center;
}
h1{
    font-size: 42px;
    font-weight: 400;
}
h2{
    font-size: 36px;
    font-weight: 300;
}
h3 {
    color:#ffc900;
    font-weight: 200;
}
p{
    text-align: justify;
}
table{
    margin: 10px;
    align-content: center;
}
thead{
    background-color: #222;
    color: white;
}
h1{
    padding-top: 50px;
}
td{
    min-width: 10px;
}
li{
    list-style: none;
    float:left;
}
i{
    margin-right: 5px;
}
a{
    text-decoration: none;
}
a:any-link{
    color:white;
}
a:-webkit-any-link {
    color:white;
}
a:-moz-any-link {
    color:white;
}
a:hover{
    color: #ffc900;
}
section{
    padding: 10px 200px 10px 100px;
}
/*Definiciones de clases y ids*/
#educacion{
    background-color: #222;
    color: white;
}
#experiencia{
    border-top: 1px solid #ffc900;
    background-color: #222;
    color:
     white;
}
.seccion, .educacion{
    padding: 10px 200px 10px 100px;
}
.enlace:hover{
    color: #ffc900;
}
#logo{
    padding-top: 5px;
}
.fa-solid{
    font-size: 15px;
    margin-right: 15px;
}
#datospers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.grideducation{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
}
.education{
    background-color: #222;
    border-radius: 15px;
    color: white;
    padding: 10px 15px;
}
.education ul{
    display: flex;
    justify-content: flex-end;
}
.education li{
    padding: 5px;
}
.education h3{
    margin-bottom: 5px;
}
.education p{
    text-align: left;
    padding-top: 5px;
}
.education img{
    border-radius: 20px;
    margin-bottom: 10px;
}
#comentario{
    background-color: #222;
    color: white;
}
.formulario{
    display: grid;
    grid-template-columns: 150px 300px;
    justify-content: center;
    margin-bottom: 10px;
}
.formulario label{
    font-weight: 500;
}
.formulario input, .formulario textarea, .formulario select{
    border-radius: 10px;
    border: 1px solid white;
}
input[type="submit"]{
    border: 1px solid #222;
    background-color: #ffc900;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 2/3;
    justify-self: end;
}
iframe{
    border-radius: 10px;
}