/*CSS general de elementos*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
    color: rgb(255, 255, 255);
    font: 200 14px 'Poppins', sans-serif;
}
h3{
    color: #999;
    font-size: 18px;
    font-weight: 300;
}
h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 36px;
}
p{
    text-align: justify;
}
i{
    font-size: 24px;
}
cite{
    font-weight: 300;
}
i:hover{
    color: #fcc900;
}
a:any-link{
    color: white;
}
a:-webkit-any-link{
    color: white;
}
a:-moz-any-link{
    color: white;
}
li{
    float: left;
    /*width: 30px;*/
    text-align: center;
    margin-right: 5px;
}
/*CSS IDs y Clase*/
.seccion{
    padding: 10px 100px 10px 100px;
}
.hashtag{
    color: #ffc900;
}
#experiencia{
    background-color: white;
    color: #222;
}
#educacion{
    background-color: #222;
    color: white;
}
#portfolio{
    border-top: 1px solid #ffc900;
}
#redes{
    list-style: none;
    margin-top: 20px;
}
#inicio{
    background-image: url("../imágenes/portada2.png");
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}
.fa-solid{
    font-size: 15px;
    margin-right: 15px;
}
.study:hover{
    color: #fcc900;
}